/* CSSTerm.com Simple CSS login form */
.login { 
	height:200px;
	width:290px;
	border:1px #CCC solid;
	padding:20px;
	background:rgba(40,57,101,.9);
	margin:auto;
	position: relative; 
	top: 100px; 
}

.login input[type=text], input[type=password] { 
	padding:10px;
	margin:15px;
	margin-left:40px;
	font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
	width: 200px;
    height: 10px;
 }
 .login input[type=submit]{
	margin:10px; 
	border: 3px solid #ccc;
	width:100px;
	margin-left:40px;
	width: 100px;
    height: 25px;
 }
 