*{
	margin:0px;
}
body{
  background: #F0EFE2;
  color: #777;
}
.wrap{
	width:960px;             
	margin:auto;
}
.header{
	height:150px;
	background:rgba(40,57,101,.9);
	color:#fff;
    
}
.header h3 {
	padding-top:30px;
	text-align:center;
    font-size:200%;
	text-shadow: 0px 5px 15px #000; */
}
 
.nav{
	height:450px;
	background:white;
}
.container{
	height:68px;
	background:rgba(40,57,101,.9);

}

